a:hover {text-decoration:none}

.egov-width
{
    width: 980px;
}

.bg-colored
{
    background:#f9f9f9;
}

.header
{
    border-radius:5px;
    margin-top:10px;
    padding:0;
}

.prof-title
{
    font-weight:700;
    display:inline-block;
    padding:15px 10px;
    margin-left:20px;
}

.hd-right
{
    float:right;
}

.hdr-val
{
    display:inline-block;
    padding:15px 15px;
    background:#9fd77c;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    font-weight:700;
    color:#fff;
}

.hdr-key
{
    display:inline-block;
    padding:15px 10px;
    border-left:1px dashed #ececec;
}

.main-info
{
    margin-top:30px;
}

.main-info p
{
    padding:0;
    margin:0;
}

.vertical-space
{
    display:block;
    height:10px;

}

.prof-type
{
    margin-bottom:10px;
}

.sel-title
{
    padding-top:8px;
    font-weight:700;
    padding:22px 0 0 20px; ;
}

.selects
{
    margin-top:20px;
    border-radius:5px;

}

.selects select,.selects input
{
    display:inline-block;
    width:150px;
    margin-left:10px ;
}

.selects input
{
    margin-right:15px;
}

.inputs
{
    padding:15px ;
    border-left:1px dashed #ececec;
}

.no-border
{
    border:0;
}

span.move-icon img
{
    height:20px;
    margin-left:10px;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th
{
    border:0;
    position:relative;
}
.table>tbody>tr>td:last-child
{
    max-width:150px;
}

thead tr th
{
    background:#0168cf;
    color:#fff;
}

thead tr th:first-child
{
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;

}
thead tr th:last-child
{
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}

tbody tr td img
{
    width:16px;
    height:16px;
    position:relative;
    margin:-3px 0 0 10px;
}

tbody
{
    border-bottom:1px solid #cccccc
}

tbody tr td:last-child img
{

    margin:-5px 0 0 1px;
}

tbody td
{
    margin:0px 0 0 0;
}

tbody tr:nth-child(even)
{
    background:#f9f9f9;
}

tbody tr span.files
{
    cursor:pointer;
    width: 110px;
    display:inline-block;
    border:1px solid #0168cf;
    color:#0168cf;
    padding:0 5px;
    border-radius:10px;
}

span.vehicle-ico1,
span.vehicle-ico2,
span.vehicle-ico3

{
    display:inline-block;
    width:50px;
    height: 19px;
    position:relative;
    cursor:pointer;
}

span.vehicle-ico1
{
    margin-top:6px;
    background:url(/images/car.png) no-repeat;
    background-size: auto 16px;
}

span.vehicle-ico1.active
{
    background:url(/images/car-color.png) no-repeat;
    background-size: auto 16px;
}

span.vehicle-ico2
{
    width:32px;
    margin-top:6px;
    background:url(/images/bus.png) no-repeat;
    background-size: auto 16px;
}

span.vehicle-ico2.active
{
    background:url(/images/bus-color.png) no-repeat;
    background-size: auto 16px;
}

span.vehicle-ico3
{
    top:-3px;
    background:url(/images/truck.png) no-repeat;
    background-size:  auto 20px;
}

span.vehicle-ico3.active
{
    background:url(/images/truck-color.png) no-repeat;
    background-size:  auto 20px;
}


.ut-left
{
    float:left;
    width:45%;
}

.ut-left a
{
    display:inline-block;
    background:#0168cf;
    padding:10px 20px;
    border-radius:30px;
    color:#fff;
}

.ut-left a  img
{
    width:20px;
    margin-right:5px;
}

.ut-right
{
    float:right;
    width:45%;
    text-align:right;
    font-size:18px;
}

.ut-right span
{
    color:#9fd77c;
}

.ut-right img
{
    width:20px;
    position:relative;
    top:-2px;
}


.final-div
{
    margin-top:20px;
    text-align:center;
}

button.do-action
{
    display:inline-block;
    background:rgba(129, 183, 95, 1);
    padding:10px 35px;
    border-radius:5px;
    color:#fff;
    font-weight:700;
    border:0;

}

.do-action:hover
{
    background:rgba(129, 183, 95, 0.9);
}

.half-width
{
    width:45%;
    display:inline-block;
}
.controls .half-width:first-child
{
    margin-right:20px;
}

.vehicle-form
{
    margin:30px 0;
    border:1px solid #cccccc;
    padding:20px;
    border-radius:5px;
    position: relative;
}

td .btn{

    width:30px;
    height:24px;
    padding:2px 0 0 0;
}

.message-box
{
    margin:10px 0;
    position:relative;
    z-index:9;
    font-weight:700;
    min-height: 20px;
}

.loading-overlay
{
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    background: rgba(141, 165, 57, 0.41);
}

.close-form
{
    width:32px;
    position:absolute;
    right:-16px;
    top:-16px;
    cursor:pointer;
    background:#fff;
}

.status-color1
{
    color:rgb(220, 186, 2)
}
.status-color2
{
    color:rgb(102, 115, 152)
}
.status-color3
{
    color:rgb(236, 49, 19)
}
.status-color4
{
    color:rgb(7, 132, 28)
}
.status-color5
{
    color:rgb(236, 49, 19)
}

.loader
{
    position:relative;
    margin-top:-10px;
    text-align:center;
    font-weight:700;
    color:rgb(220, 186, 2)

}


td.docs-td:hover .vehicle-files
{
    display:block;
}

.vehicle-files
{
    background:#fff;
    padding:2px 10px;
    width:200px;
    display:none;
    position:absolute;
    left:0;
    top:0;
    border:1px solid #ccc;
    z-index: 8;
}

.vehicle-files a
{
    display:block;

}

.ad-info-save
{
    cursor:pointer;
}

.ad-info-status
{
    width: 300px;
    min-width: 300px;
    position:relative;
    display: inline-block;
    padding-left:5px;
}